.login-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container form {
    background-color: #aed1e1;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.register-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container form {
    background-color: #aed1e1;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}